block content
  ul.comments__list
    each comment in article.comments
      li.comments__comment
        .comments__avatar.avatar
          img(src=`../../upload/img/${comment.user.avatarFullsize}` alt='аватар пользователя')
        .comments__text
          .comments__head
            p #{comment.user.firstName} #{comment.user.lastName} •
            time.comments__date(datetime=comment.createdAt) #{humanizeDate(HumanizedDateFormat.FULL, comment.createdAt)}
          p.comments__message #{comment.text}
