extends layout.pug
block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      if (articles.length > 0)
        ul.notes__list
          each article in articles
            li.notes__list-item
              time.notes__item-time(datetime=article.createdAt) #{humanizeDate(HumanizedDateFormat.FULL, article.createdAt)}
              a.notes__item-text(href=`/articles/${article.id}`) #{article.title}
              a.notes__button.button.button--close-item(href=`/articles/${article.id}/delete`)
                span.visually-hidden Удалить запись
      else
        p У Вас еще нет записей...
