extends layout.pug
block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад
            time.post__date(datetime=article.createdAt) #{humanizeDate(HumanizedDateFormat.FULL, article.createdAt)}
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in article.categories
                include partials/themes-item.pug
                  button.themes__remove-btn(type='button') Удалить категорию
          if article.fullsizePicture
            .post__picture
              img(src=`../../upload/img/${article.fullsizePicture}` alt='Иллюстрация к статье')
          .post__text
            h3 #{article.announce}
            p #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          +insertErrorMessages(validationMessages)

          if (article.comments.length > 0)
            h2.comments__title.title.title--middle Комментарии
            include partials/post-comments-list.pug
          else
            h2.comments__title.title.title--middle Комментарии отсутствуют

          if user
            .comments__footer.comments__footer--user
              include partials/post-comments-form.pug
          else
            .comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href='/login') Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться
